services:
  jellyfin:
    image: nyanmisaka/jellyfin:latest
    container_name: jellyfin
    ports:
      - 8096:8096
    volumes:
      - ./jellyfin/config:/config
      - ./jellyfin/cache:/cache
      - ./rclone/data:/rclone:ro
      - type: bind
        source: /kdata/media-libraries
        target: /media-libraries
    group_add:
      - "993"
      - "video"
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.uemind.com
    devices:
      - /dev/dri:/dev/dri
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    restart: unless-stopped
    depends_on:
      rclone:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openlist.rule=Host(`jellyfin.uemind.com`)"
      - "traefik.http.routers.openlist.entrypoints=websecure"
      - "traefik.http.routers.openlist.tls.certresolver=myresolver"
      - "traefik.http.services.openlist.loadbalancer.server.port=8096"
  rclone:
    image: rclone/rclone
    container_name: rclone
    user: '1000:1000'
    volumes:
      - ./rclone/config:/config/rclone
      - ./rclone/data:/data:shared
      - ./rclone/rclone_cache:/home/kane/.cache/rclone
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
    devices:
      - /dev/fuse
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    command: >
      mount alist:. /data/alist
      --allow-other
      --use-mmap 
      --no-checksum 
      --no-modtime 
      --umask 0022 
      --buffer-size 32M
      --dir-cache-time 12h
      --poll-interval 60s
      --vfs-cache-mode full 
      --vfs-cache-max-age 36h 
      --vfs-cache-max-size 16G 
      --vfs-cache-min-free-space 4G
      --vfs-read-chunk-size 32M 
      --vfs-read-chunk-size-limit 256M
    healthcheck:
      test: [ "CMD", "ls", "alist/夸克网盘/" ]
      start_period: 3s
    restart: unless-stopped
    depends_on:
      openlist:
        condition: service_started
  openlist:
    image: openlistteam/openlist:latest-aio
    container_name: openlist
    user: '1000:1000'
    ports:
      - 5244:5244
    volumes:
      - ./openlist:/opt/openlist/data
      - type: bind
        source: /kdata/media-libraries
        target: /media-libraries
    environment:
      - UMASK=022
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openlist.rule=Host(`openlist.uemind.com`)"
      - "traefik.http.routers.openlist.entrypoints=websecure"
      - "traefik.http.routers.openlist.tls.certresolver=myresolver"
      - "traefik.http.services.openlist.loadbalancer.server.port=5244"
  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.delaybeforecheck=0"
      - "--certificatesresolvers.myresolver.acme.email=kane.liu@uemind.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt
    restart: unless-stopped
#  cloudflared:
#    container_name: cloudflared
#    image: cloudflare/cloudflared:latest
#    command: tunnel --no-autoupdate run --token ${CFD_TOKEN}
#    env_file:
#      - .env
#    restart: unless-stopped